body {
  background-image: url("../img/login.jpg");
}

.chess-board {
     border-spacing: 0;
     border-collapse: collapse;
     display: inline-block;
}
.chess-board th { 
    padding: .5em; 
}

.chess-board td {
     border: 1px solid; width: 2em; height: 2em; 

}

.chess-board .light {
     background: #eee; 
}
.chess-board .dark { 
    background: #A0522D; 
}

td {
     text-align: center;
 }

* {
  box-sizing: border-box;
}

/* .row {
  margin-left:5px;
  margin-right:5px;
} */

.column {
  float: left;
  width: 30.0%;
  padding: 5px;
}

.columnTwo {
  float: left;
  width: 10%;
  padding: 5px;
  padding-top: 20%;

}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.loginTimerData p{
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}

