body {
    margin: 0;
    padding: 0;
    /* background-color: #17a2b8; */
    background-image: url("../img/login.jpg");
    height: 100vh;
}

table {
    border-collapse: collapse;
    margin-top: 25px;

    /* display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center; */
}

table, th, td {
    /* width: 50%; */
    border: 1px solid;
}

td{
    text-align: left;
    background-color: #eee;
}

th{
    text-align: center;
    background-color: #A0522D;
}

.table1{
    margin-left: auto;
    margin-right: auto;
}
