<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome in the Game</title>
    <link rel="stylesheet" href="css/game.css">
    <script src="js/game.js"></script>
    <script src="js/gameplay.js"></script>
<!--    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

    <!--    libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--    end libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

<p>Witaj:
    <a id="playerId" th:text="${playerId}"></a>
    <a id="login" th:text="${username}">Login</a>
</p>

<p>
    <input id="boardId" placeholder="Paste board id">
    <button onclick="connect_to_specific_game()">Connect by board id</button>
</p>

<button onclick="create_game()">Create a new game</button>

<p>
    Szachownica
</p>
<table class="chess-board" id="position">
    <tbody>
    <tr>
        <th></th>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th>f</th>
        <th>g</th>
        <th>h</th>
    </tr>
    <tr>
        <th>8</th>
        <td class="light" id="18" onclick="runMe('18')">&#x265C</td>
        <td class="dark" id="28" onclick="runMe('28')">&#x265E</td>
        <td class="light" id="38" onclick="runMe('38')">&#x265D</td>
        <td class="dark" id="48" onclick="runMe('48')">&#x265B</td>
        <td class="light" id="58" onclick="runMe('58')">&#x265A</td>
        <td class="dark" id="68" onclick="runMe('68')">&#x265D</td>
        <td class="light" id="78" onclick="runMe('78')">&#x265E</td>
        <td class="dark" id="88" onclick="runMe('88')">&#x265C</td>
    </tr>
    <tr>
        <th>7</th>
        <td class="dark" id="17" onclick="runMe('17')">&#x265F</td>
        <td class="light" id="27" onclick="runMe('27')">&#x265F</td>
        <td class="dark" id="37" onclick="runMe('37')">&#x265F</td>
        <td class="light" id="47" onclick="runMe('47')">&#x265F</td>
        <td class="dark" id="57" onclick="runMe('57')">&#x265F</td>
        <td class="light" id="67" onclick="runMe('67')">&#x265F</td>
        <td class="dark" id="77" onclick="runMe('77')">&#x265F</td>
        <td class="light" id="87" onclick="runMe('87')">&#x265F</td>
    </tr>
    <tr>
        <th>6</th>
        <td class="light" id="16" onclick="runMe('16')"></td>
        <td class="dark" id="26" onclick="runMe('26')"></td>
        <td class="light" id="36" onclick="runMe('36')"></td>
        <td class="dark" id="46" onclick="runMe('46')"></td>
        <td class="light" id="56" onclick="runMe('56')"></td>
        <td class="dark" id="66" onclick="runMe('66')"></td>
        <td class="light" id="76" onclick="runMe('76')"></td>
        <td class="dark" id="86" onclick="runMe('86')"></td>
    </tr>
    <tr>
        <th>5</th>
        <td class="dark" id="15" onclick="runMe('15')"></td>
        <td class="light" id="25" onclick="runMe('25')"></td>
        <td class="dark" id="35" onclick="runMe('35')"></td>
        <td class="light" id="45" onclick="runMe('45')"></td>
        <td class="dark" id="55" onclick="runMe('55')"></td>
        <td class="light" id="65" onclick="runMe('65')"></td>
        <td class="dark" id="75" onclick="runMe('75')"></td>
        <td class="light" id="85" onclick="runMe('85')"></td>
    </tr>
    <tr>
        <th>4</th>
        <td class="light" id="14" onclick="runMe('14')"></td>
        <td class="dark" id="24" onclick="runMe('24')"></td>
        <td class="light" id="34" onclick="runMe('34')"></td>
        <td class="dark" id="44" onclick="runMe('44')"></td>
        <td class="light" id="54" onclick="runMe('54')"></td>
        <td class="dark" id="64" onclick="runMe('64')"></td>
        <td class="light" id="74" onclick="runMe('74')"></td>
        <td class="dark" id="84" onclick="runMe('84')"></td>
    </tr>
    <tr>
        <th>3</th>
        <td class="dark" id="13" onclick="runMe('13')"></td>
        <td class="light" id="23" onclick="runMe('23')"></td>
        <td class="dark" id="33" onclick="runMe('33')"></td>
        <td class="light" id="43" onclick="runMe('43')"></td>
        <td class="dark" id="53" onclick="runMe('53')"></td>
        <td class="light" id="63" onclick="runMe('63')"></td>
        <td class="dark" id="73" onclick="runMe('73')"></td>
        <td class="light" id="83" onclick="runMe('83')"></td>
    </tr>
    <tr>
        <th>2</th>
        <td class="light" id="12" onclick="runMe('12')">&#x2659</td>
        <td class="dark" id="22" onclick="runMe('22')">&#x2659</td>
        <td class="light" id="32" onclick="runMe('32')">&#x2659</td>
        <td class="dark" id="42" onclick="runMe('42')">&#x2659</td>
        <td class="light" id="52" onclick="runMe('52')">&#x2659</td>
        <td class="dark" id="62" onclick="runMe('62')">&#x2659</td>
        <td class="light" id="72" onclick="runMe('72')">&#x2659</td>
        <td class="dark" id="82" onclick="runMe('82')">&#x2659</td>
    </tr>
    <tr>
        <th>1</th>
        <td class="dark" id="11" onclick="runMe('11')">&#x2656</td>
        <td class="light" id="21" onclick="runMe('21')">&#x2658</td>
        <td class="dark" id="31" onclick="runMe('31')">&#x2657</td>
        <td class="light" id="41" onclick="runMe('41')">&#x2655</td>
        <td class="dark" id="51" onclick="runMe('51')">&#x2654</td>
        <td class="light" id="61" onclick="runMe('61')">&#x2657</td>
        <td class="dark" id="71" onclick="runMe('71')">&#x2658</td>
        <td class="light" id="81" onclick="runMe('81')">&#x2656</td>
    </tr>
    </tbody>
</table>

<form name="f" th:action="@{/logout}" method="post">

    <button type="submit" class="btn">Wyloguj</button>

</form>

</body>
</html>